h1 {
    color: aquamarine;
}

#elemento-1 {
    color:red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
}
